/* NAV */
nav.navbar {
    font-family: 'Avenir';
}

#titlebar {
    position: unset;
    background: rgb(22, 22, 22);
}

#titlebar a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#titlebar > .navbar-brand {
    display: flex;
    align-items: center;
}

#titlebar > .navbar-brand i.material-icons {
    font-size: 2rem;
    margin-right: 9px;
}

#titlebar a:hover {
    color: rgb(224, 224, 224);
}

#navbar-scroll {
    position: fixed;
    top: calc(50% - 40px);
    right: 13px;
    z-index: 2000;
    padding: 0px;
}

#navbar-scroll .nav-pills {
    padding-left: 0px;
    margin-bottom: 0px;
}

#navbar-scroll .nav-pills li:last-child {
    margin-bottom: 0px;
}

#navbar-scroll .nav-pills .nav-item {
    list-style: none;
    margin-bottom: 20px;
}

#navbar-scroll .nav-pills .nav-item .nav-link {
    padding: 0px;
    height: 15px;
    width: 15px;
    background-color: rgba(255, 255, 255, 0.185);
    border: 1px solid white;
    border-radius: 120px;
}

#navbar-scroll .nav-pills .nav-item .nav-link.active {
    background-color: rgb(255, 255, 255);
}

/* FOOTER */
footer {
    padding: 10px 16px;
    background: rgb(22, 22, 22);
}

footer img#logo-ahs {
    margin-right: 20px;
}

footer span {
    color: white;
    font-family: 'Avenir';
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

/* ******************************************************* */
html {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    background: #1a1a1a;
    height: 100%;
}

.container-movies {
    overflow: scroll !important;
    max-height: calc(100% - 58px -44px);
    scroll-behavior: smooth !important;
    z-index: 3000;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.container.movie {
    position: relative;
    margin-bottom: 100px;
    padding: 0px;
    background: #262626;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.col {
    padding-left: 40px;
    padding-right: 40px;
}

.row {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir';
    font-weight: 800;
}

.cover {
    position: relative;
    padding: 0px;
    max-width: fit-content;
}

.cover > img {
    position: relative;
    max-height: 600px;
    max-width: 100%;
}

.cover > img::before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: url(../images/cover_gradient.svg);
    z-index: 1000;
}

#gradient {
    position: absolute;
    bottom: 0px;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
    transform: rotate(0deg);
}

#cover {
    max-width: 100%;
}

.title {
    position: absolute;
    bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}

.title h1 {
    margin-bottom: 0px;
}

.title p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Avenir';
    opacity: 0.8;
}

.title > p > span {
    letter-spacing: 1px;
}

.movie-data {
    margin-top: 0px;
    padding-bottom: 40px;
    color: white;
    font-family: 'Avenir'
}

.movie-data h1 {
    margin-bottom: 0px;
}

.movie-data h1 + p {
    opacity: 0.8;
}

.movie-data > dl > p, #about > p:first-of-type {
    margin: 0px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.7rem;
    opacity: 0.8;
}

.movie-data > dl > dt {
    font-size: 1.2rem;
}

.collapse p, .collapsing p {
    margin-bottom: 0rem !important;
}

button {
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;;
    font-family: 'Avenir';
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
    border-radius: 0% !important;
    outline: none !important;
    transition: all 0.19s ease-in-out;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
    transition: all 0.19s ease-in-out;
}

button.buy {
    margin-top: 15px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;;
    font-family: 'Avenir';
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
    width: 100%;
    border-radius: 0% !important;
    outline: none;
    transition: all 0.19s ease-in-out;
}

button.buy:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
    transition: all 0.19s ease-in-out;
}

.movie-data + button.buy {margin-top: 15px;}

button.read-more {
    padding-left: 0px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-family: 'Avenir';
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
    border-radius: 0% !important;
    outline: none;
    cursor: pointer;
    transition: all 0.19s ease-in-out;
}

.collapse:not(.show) {
    overflow-y: hidden;
}

.collapse:not(.show) + button.read-more::before {
    content: 'meer'
}

.collapse + button.read-more::before {
    content: 'minder'
}

.collapsing + button.read-more::before {
    content: 'minder'
}

.collapse {
    position: relative;
    max-height: 100%;
    overflow-y: hidden;
}

.collapse::after {
    content: ' ';
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 30px;
    width: 250px;
    background-color: aqua;
    background: linear-gradient(to right, rgba(38,38,38,0) 0%, rgba(38,38,38,0.49) 49%, rgba(38,38,38,1) 100%);
    opacity: 1;
}

.show::after {
    width: 0px;
}

.collapse:not(.show) {
    display: block;
    height: 50px;
}

.collapsing {
    height: 50px;
}

/* MEDIA QUERIES **************************************************************** */

/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 992px) {
    .container.movie {
        background-image: none !important;
        margin-bottom: 50px;
    }


    body > div div:last-of-type {
        margin-bottom: 0px !important;
    }

    .cover > img:not(#gradient) {
        border-bottom: 2px solid #262626;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    html {
        height: 100%;
        width: 100%;
    }
    
    body {
        position: relative;
        background: #1a1a1a;
        height: 100%;
    }

    .container.movie {
        position: relative;
        margin-top: 100px;
        margin-bottom: 50px;
        padding: 0px;
        background: #262626;
        margin-left: 0px;
        margin-right: 0px;
        min-height: 400px;
        /* min-width: 100%; */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
    }
    
    .container.movie::before {
        content: ' ';
        position: absolute;
        left: 0px;
        top: 0px;
        background: linear-gradient(to right, rgba(38,38,38,0.39) 0%, rgba(38,38,38,1) 56%, rgba(38,38,38,1) 100%);
        height: 100%;
        width: 500px;
        overflow-x: hidden;
        z-index: 0;
    }
    
    .container-movies {
        overflow: scroll !important;
        max-height: calc(100% - 58px);
        scroll-behavior: smooth !important;
    }

    .container-movies > :first-child {
        margin-top: 0px;
    }

    .container-movies > :nth-last-child(2) {
        margin-bottom: 100px;
    }

    .col {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .row {
        margin: 0px;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Avenir';
        font-weight: 800;
    }
    
    .cover {
        position: relative;
        padding: 0px;
        max-width: fit-content;
        transform: translateY(50px);
    }
    
    .cover > img {
        max-height: 600px;
    }
    
    #gradient {
        display: none;
        position: absolute;
        bottom: 0px;
        -webkit-user-drag: none;
        user-select: none;
        pointer-events: none;
        transform: rotate(0deg);
    }
    
    #cover {
        max-width: 100%;
        max-height: fit-content;
    }
    
    .movie-data {
        position: relative;
        margin-top: 55px;
        color: white;
        font-family: 'Avenir'
    }

    .movie-data > h1 {
        max-width: 400px;
        margin-bottom: 0px;
    }
    
    .movie-data > dl > p, #about > p:first-of-type {
        margin: 0px;
        margin-bottom: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.7rem;
        opacity: 0.8;
    }
    
    .movie-data > dl > dt {
        font-size: 1.2rem;
    }
    
    .collapse p, .collapsing p {
        margin-bottom: 0rem !important;
    }
    
    button {
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border: 1px solid white;;
        font-family: 'Avenir';
        font-weight: 800;
        text-transform: uppercase;
        font-size: 0.7rem;
        letter-spacing: 2px;
        border-radius: 0% !important;
        outline: none !important;
        transition: all 0.19s ease-in-out;
    }
    
    button:hover {
        background-color: white;
        color: black;
        border: 1px solid white;
        transition: all 0.19s ease-in-out;
    }
    
    button.buy {
        /* position: absolute;
        top: calc(100% + 20px); */
        margin-top: 15px;
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border: 1px solid white;;
        font-family: 'Avenir';
        font-weight: 800;
        text-transform: uppercase;
        font-size: 0.7rem;
        letter-spacing: 2px;
        width: fit-content;
        border-radius: 0% !important;
        outline: none;
        transition: all 0.19s ease-in-out;
    }
    
    button.buy:hover {
        background-color: white;
        color: black;
        border: 1px solid white;
        transition: all 0.19s ease-in-out;
    }
    
    .movie-data + button.buy {margin-top: 15px;}
    
    button.read-more {
        padding-left: 0px;
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
        font-family: 'Avenir';
        font-weight: 900;
        text-transform: uppercase;
        font-size: 0.7rem;
        letter-spacing: 2px;
        border-radius: 0% !important;
        outline: none;
        cursor: pointer;
        transition: all 0.19s ease-in-out;
    }
    
    .collapse:not(.show) + button.read-more::before {
        content: 'meer'
    }
    
    .collapse + button.read-more::before {
        content: 'minder'
    }
    
    .collapsing + button.read-more::before {
        content: 'minder'
    }
    
    .collapse#movieDescription {
        position: relative;
        max-height: 100%;
        overflow-y: hidden;
    }
    
    .collapse#movieDescription::after {
        content: ' ';
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: 30px;
        width: 250px;
        background-color: aqua;
        background: linear-gradient(to right, rgba(38,38,38,0) 0%, rgba(38,38,38,0.49) 49%, rgba(38,38,38,1) 100%);
        opacity: 1;
    }
    
    .collapse.show#movieDescription::after {
        width: 0px;
    }
    
    .collapse:not(.show) {
        display: block;
        height: 50px;
    }
    
    .collapsing {
        height: 50px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}