:root {
    --accent-1: #262626;
    --font-main: 'Avenir';
    --font-2: 'Fira Sans Condensed';
    --radius: 4.5px;
}

* {
    outline: none !important;
}

html {
    scroll-behavior: smooth !important;
    background: #1a1a1a;
}

body {
    position: relative;
    scroll-behavior: smooth !important;
    background: #1a1a1a;
    padding-top: calc(56px + 20px);
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

footer {
    margin: auto;
}

footer > div {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border-radius: var(--radius);
    background: var(--accent-1);
    margin: 20px 0px 0px 0px;
    padding: 15px;
    vertical-align: middle;
}

footer > div > #logo-ahs {
    margin-right: 20px;
}

footer > div > div {
    align-self: center;
    color: white;
    font-family: var(--font-main);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: 800;
    transform: translateY(7px);
}

/* NAV */
.navbar {
    margin: 20px 20px 0px 20px;
    font-family: var(--font-main);
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: var(--radius);
    background-color: #f8f9fa!important;
}

.navbar-toggler {
    border: none;
}

.navbar > .navbar-brand > i {
    vertical-align: middle;
    font-size: 2rem;
    margin-right: 12px;
}

.navbar > .navbar-brand > span {
    vertical-align: middle;
    font-size: 1rem;
}

.navbar-nav > li {
    margin-right: 15px;
    vertical-align: middle;
    color: black;
}

.nav-link {
    color: black;
}

.navbar-nav > li:last-of-type {
    margin-right: 0px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 1px solid white;
    font-family: var(--font-main);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    width: 100%;
    vertical-align: middle;
    border: 1px solid black !important;
    border-radius: var(--radius) !important;
    outline: none;
    transition: all 0.19s ease-in-out;
}

.navbar-nav > li > a:hover, .nav-link.active {
    background-color: black;
    color: white !important;
    transition: all 0.19s ease-in-out;
}

/* TITLES */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main)
}


/* CARD */
.card {
    margin-top: 20px;
    margin-bottom: 0px !important;
    border-radius: var(--radius) !important;
    border: none;
    background: var(--accent-1);
}

.card-body {
    background-color: var(--accent-1);
    padding-top: 0px;
    border-radius: 0px;
    border-bottom-left-radius: var(--radius) !important;
    border-bottom-right-radius: var(--radius) !important;
}

.card-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-family: var(--font-2);
    font-weight: 400;
    line-height: 0.97;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.card-body p{
    color: white;
    font-family:  var(--font-main)
}

.card-meta {
    opacity: 0.8;
    color: white;
}

/* COVER & GRADIENT */
.cover {
    position: relative;
    padding: 0px;
    max-width: fit-content;
    border-top-left-radius: var(--radius) !important;
    border-top-right-radius: var(--radius) !important;
    background: var(--accent-1);
}

.cover > img {
    width: 100%;
    border-top-left-radius: var(--radius) !important;
    border-top-right-radius: var(--radius) !important;
}

#gradient {
    position: absolute;
    bottom: 0px;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
    transform: rotate(0deg);
    transform: translateY(4px)
}

/* INFO */
dl {
    color: white;
}

dt {
    font-family: var(--font-2);
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.subtitle {
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.7rem;
    opacity: 0.8;
}

.about p {
    margin-bottom: 0px;
}

/* READ MORE COLLAPSE */
button.read-more {
    padding-left: 0px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-family:  var(--font-main);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
    border-radius: 0% !important;
    outline: none;
    cursor: pointer;
    transition: all 0.19s ease-in-out;
}

.about .collapse:not(.show) {
    overflow-y: hidden;
}

.about .collapse:not(.show) + button.read-more::before {
    content: 'meer'
}

.about .collapse + button.read-more::before {
    content: 'minder'
}

.about .collapsing + button.read-more::before {
    content: 'minder'
}

.about .collapse {
    position: relative;
    max-height: 100%;
    overflow-y: hidden;
}

.about .collapse::after {
    content: ' ';
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 30px;
    width: 250px;
    background-color: aqua;
    background: linear-gradient(to right, rgba(38,38,38,0) 0%, rgba(38,38,38,0.49) 49%, rgba(38,38,38,1) 100%);
    opacity: 1;
}

.show p {
    margin-bottom: 0px;
}

.about .collapse.show::after {
    width: 0px;
    transition: width .35s ease;
}

.about .collapse:not(.show) {
    display: block;
    height: 50px;
    transition: width .35s ease;
}

.about .collapsing {
    height: 50px;

}

/* BUTTON BUY */
button.buy {
    /* position: absolute;
    top: calc(100% + 20px); */
    margin-top: 15px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;;
    font-family:  var(--font-main);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
    width: 100%;
    border-radius: 0%;
    border-radius: var(--radius) !important;
    outline: none;
    transition: all 0.19s ease-in-out;
}

button.buy:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
    transition: all 0.19s ease-in-out;
}

/***************************************/
/* MEDIA QUERIES */



@media only screen and (min-width: 576px) and (max-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    footer {
        width: 100%;
    }

    /* BR */
    .break-md {
        display: initial;
    }

    .break-sm {
        display: none;
    }

    .navbar-collapse {
        overflow-x: scroll !important;
    }

    .navbar-collapse::-webkit-scrollbar {
        display: none;
    }

    .navbar-nav > .nav-item {
        white-space: nowrap
    }

    .card {
        display: flex !important;
        flex-direction: row !important;
        height: 500px;
        max-height: fit-content;
    }

    .card-body {
        padding: 40px;
    }

    .card-columns {
        column-gap: 20px;
        column-count: 1;
    }

    .card > .cover > .poster {
        height: 100%;
        max-height: 700px;
        width: auto;
        border-top-right-radius: 0px !important;
        border-bottom-left-radius: var(--radius) !important;
    }

    #gradient {
        display: none;
        transform: translateY(0px);
        border-bottom-left-radius: var(--radius) !important;
    }

    button.buy {
        width: fit-content;
    }
}

@media (max-width: 576px) {
    /* BR */
    .break-sm {
        display: initial;
    }

    .break-md {
        display: none;
    }

    body {
        padding-top: calc(56px + 20px);
    }

    .navbar-collapse {
        padding-top: 12px;
    }

    .navbar-nav .nav-link {
        padding-right: 10px;
        padding-left: 10px;
    }

    .navbar-nav > li {
        margin-bottom: 15px;
        margin-right: 0px;
        padding-right: 0px;
    }
    
    .navbar-nav > li:last-of-type {
        margin-bottom: 12px;
    }
}